.vscode

router
router_0_err
.gitignore
router_0_out
router_1_err
router_1_out
router.o
router0
router1
checker/__pycache__/info.cpython-312.pyc
checker/__pycache__/tests.cpython-312.pyc
.gitignore
hosts_output/forward/0-host-err.txt
hosts_output/forward/0-host-out.txt
hosts_output/forward/1-host-err.txt
hosts_output/forward/1-host-out.txt
hosts_output/forward/2-host-err.txt
.gitignore
hosts_output/forward/2-host-out.txt
.gitignore
hosts_output/forward/3-host-err.txt
.gitignore
hosts_output/forward/3-host-out.txt
.gitignore
hosts_output/forward/router0.pcap
.gitignore
hosts_output/forward/router1.pcap
lib/lib.o
lib/list.o
lib/queue.o
hosts_output/*